src/main/resources/application.properties
# ignore local application properties with secrets
/src/main/resources/application.properties
# node_modules, build etc (if frontend in same repo)
node_modules/
dist/
.target/
*.log
